/* Fonts */
$font-body : "Space Mono",sans-serif;
$font-body-size : 1.6rem;

/* Theme colors */
$text-color : #6b717f;
$title-color : #BF4080;
$link-color : #9c225f;
$border-color : #8C8C8C;

/* Alert colors */
$alert-success : rgb(38, 184, 38);
$alert-error : rgb(233, 67, 67);
$alert-warning : rgb(255, 115, 0);