@charset "UTF-8";
/* Fonts */
/* Theme colors */
/* Alert colors */
/* Exemple de mixin */
/* Une fois le mixin déclaré, il peut être appelé partout avec la syntaxe suivante :
@include row-flex(); 
donnera :
    display: flex;
    flex-wrap: wrap;
    flex-direction : row;


@include row-flex(nowrap);
donnera :
    display: flex;
    flex-wrap: nowrap;
    flex-direction : row;

@include row-flex(wrap,column);
donnera :
    display: flex;
    flex-wrap: nowrap;
    flex-direction : column;

Les paramètres wrap et column sont optionneles car on a défini une valeur par défaut dans le mixin
$wrap : wrap et $direction : row

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Contiendra tous les sélecteurs des éléments typographiques (titre, blockquote, class spécifique d'un titre etc) */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  /* en général entre 1.4 et 1.6 pour avoir une line-height correct */
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

em {
  font-style: italic;
}

h1,
h2,
h3 {
  color: #BF4080;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.3rem;
  padding: 32px;
  margin-bottom: 0px;
}

/* IMPORT COMPO */
section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border: 1px #8C8C8C solid;
  /*
  Plus besoin de préfixe car le préprocesseur va le faire pour nous
  -webkit-box-shadow: 10px 10px 15px -4px $text-color;
  -moz-box-shadow: 10px 10px 15px -4px $text-color;
  */
  -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
          box-shadow: 10px 10px 15px -4px #6b717f;
  padding: 16px;
  margin: 16px;
  clear: both;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section--large {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* Gère le css lié au footer du site */
/* Gère le css lié à la navigation principale */
body {
  font: 100% "Space Mono", sans-serif, monospace;
  color: #6b717f;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  /* On empeche le scroll horizontale dans la page */
  /* Attention overflow-x hidden sans la propriété ci-dessous gêne le scroll sur iphone et ipad */
  -webkit-overflow-scrolling: touch;
  /* https://developer.mozilla.org/fr/docs/Web/CSS/-webkit-overflow-scrolling */
}

main {
  padding: 0 1em;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border: 1px #8C8C8C solid;
  -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
  box-shadow: 10px 10px 15px -4px #6b717f;
  padding: 16px;
  margin: 16px;
  clear: both;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article section#selling-points {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

article code {
  background: black;
  border: 1px solid #6b717f;
  color: #8C8C8C;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

article code.before,
article code.after {
  width: 40%;
}

article code.before {
  float: left;
}

article code.after {
  float: right;
}

h1,
h2,
h3 {
  color: #BF4080;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 32px;
  margin-bottom: 0px;
}/*# sourceMappingURL=style.css.map */